<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.siddhantagrawal.check_discuss">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:label="@string/app_name"
        android:theme="@style/Base.AppTheme"
        android:icon="@drawable/temp_img">
        <activity android:name="com.discuss.ui.feed.impl.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.discuss.ui.question.view.QuestionView" >
        </activity>
        <activity android:name="com.discuss.views.AskQuestionView" >
        </activity>
        <activity android:name="com.discuss.ui.category.CategorySelector" >
        </activity>
    </application>

</manifest>